* { margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
  background-color: #ffdddf;
  border-bottom: 2px solid black;
}


body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
  background-color: white;
  padding: 2px;
}

img {
  display: block;
}


nav {
  background-color: #3c4142;
  font-size: 1em;
  box-sizing: border-box; 
  height: 28px;
  display: inline-block;
  width: 100%;
  text-align: center;
} 

nav a { 
  text-decoration: none;
  color: #E8FBFF;
  padding: 20px;
  
}

nav a:hover {
  color:#9BEEFF;
  text-decoration: underline;
}

h1, h3 {
  color: black;
  padding-left: 0px;
  margin: 0;
  font-size: 15px;
  text-decoration: underline;
}

h5 {
  padding: 5px;
}

h6 {
margin-left: 10px;
font-style: italic;
padding-top: 3px;
}

h2 {
  color: white;
  font-weight: normal;
  font-style: italic;
}

#wrapper {
  background-color: #ffffff;
  width: 960px;
  margin: 0 auto;
  border: 2px solid black;
}

#social {
  float: right;
}

#leftnav {
  background-color: #4E777F;
  width: 168px;
  height: 480px;
  float: left;

}

.leftnav {
  color: white;
  text-decoration: none;
}

.leftnav:hover {
  color:#E8FBFF;
  text-decoration: underline;

}

#leftnavheader {
  padding-bottom: 3px;
  padding-top: 5px;
}

#leftnavcenter {
  padding-top: 40px;
}

#leftnavfooter {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 50px;
}

#search {
  width: 168px;
  padding-left: 3px;
  padding-top: 7px;
}

#slideshow {
  float: right;
  width: 788px;
  height: 480px;
  box-sizing: border-box;
  background-color: #3c4142;
  border-left: 2px solid black;
}

#centerbloc {
  font-family: Arial, sans-serif;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

/*Is there a way to apply float: left to the entire section?;*/
#bottombloc {
 margin-left: 20px;
 width: 956px;
 height: 200px;
}

#col1 {
  margin: 5px 5px 5px 0px;
  width: 180px;
  height: 180px;
  float: left;
}
#col2 {
  margin: 5px 5px 5px 0px;
  width: 180px;
  height: 180px;
  float: left;
}
#col3 {
  margin: 5px 5px 5px 0px;
  width: 180px;
  height: 180px;
  float: left;
}

#col4 {
  margin: 5px 5px 5px 0px;
  width: 180px;
  height: 180px;
  float: left;
}
#col5 {
  margin: 5px 5px 5px 0px;
  width: 180px;
  height: 180px;
  float: left;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: 1em;
  font-family: Georgia, serif;
  font-color: white;
  padding: 5px;
  border-top: 1px solid black;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}