body {
  font-family: 'Open Sans', sans-serif;
  margin: 35px;
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 4px solid black;
  display: inline-block;
  font-size: 2em;
}

h2 {
  font-weight: 800;
  text-transform: uppercase;
  display: block;
  font-size: 1.5em;
}

nav {
  float: right;
  font-size: 1.5em;
}

nav a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-right: 30px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 2px;

}

header {
	padding: 15px;
}

section {
	margin: 10px;
	padding: 5px;
}

#engagement {
	background-color: red;
	width: 49%;
  	display: inline-block;
 	border: 1px solid black;
}

#services {
	border: 1px solid black;
	background-color: yellow;
 	width: 49%;
  	display: inline-block;
  	float: right;
}

#engagement_sub {
	width: 49%;
  	display: inline-block;
 	 margin: 20px;
}

#services_sub {
	width: 49%;
 	display: inline-block;
	float: left;
	margin: 20px;
}

#section {
	margin: 0 auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

footer {
  text-align: center;
  padding: 15%;
  clear: both;
}

@media only screen and (max-width: 800px) {
  h1, nav {
    display: block;
    text-align: center;
  }

 nav a {
    display: inline-block;
    margin: 0 1em 1em;
    text-align: center;
    padding: .1em;
    }

 #engagement {
 	background-color: yellow;
 }

 }

@media only screen and (max-width: 480px) {
  	
  h1 {
  	padding-bottom: .5em;
  } 	

  h1, nav {
    display: block;
    text-align: center;
    font-size: 1em;
    margin: .2em;
  }
  
  nav a {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: .1em;
  }
  
  h2 {
    font-size: .8em;
    display: inline;
    font-weight: 400em;
  }

  ul {
  	font-size: .75em;
  }

  section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }

  #engagement {
  	background-color: red;
  }

  #services {
    float: none;
    margin-top: .5em;
  }

}